{% load static %}
{% if is_en %}
    <section class="container my-5 pt-3 pb-lg-5">
        <div class="row gy-4">
            <div class="col-md-6 order-2 order-sm-2 order-md-1" style="direction: ltr; text-align: left;">
                <div class="mb-md-5 mb-4 pb-md-4">
                    <h1 class="mb-md-4 text-light titr">Contact Form</h1>
                </div>
                <!-- Contact form-->
                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="form-label text-light" for="c-name">Full Name<span
                                class="text-danger">*</span></label>
                        {{ form.name }}
                        {% if form.name.errors %}
                            <div class="invalid-feedback d-block">
                                {% for err in form.name.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <label class="form-label text-light" for="c-phone">Phone Number<span
                                class="text-danger">*</span></label>
                        {{ form.phone_number }}
                        {% if form.phone_number.errors %}
                            <div class="invalid-feedback d-block">
                                {% for err in form.phone_number.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <label class="form-label text-light" for="c-subject">Subject<span
                                class="text-danger">*</span></label>
                        {{ form.title }}
                        {% if form.title.errors %}
                            <div class="invalid-feedback d-block">
                                {% for err in form.title.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <label class="form-label text-light" for="c-message">Message<span
                                class="text-danger">*</span></label>
                        {{ form.text }}
                        {% if form.text.errors %}
                            <div class="invalid-feedback d-block">
                                {% for err in form.text.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="pt-2">
                        <button class="btn btn-lg btn-primary w-sm-auto w-100" type="submit">Submit Form</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 order-1 order-sm-1 order-md-2 col-md-6 offset-lg-2"
                 style="direction: ltr; text-align: left;">
                <div class="mb-md-5 mb-4 pb-md-4">
                    <h1 class="mb-md-4 text-light titr">Contact Us</h1>
                    <p class="mb-0 fs-lg text-light opacity-70 en-num">
                        Don't worry — only our experts will see this information, and they'll contact you as soon as
                        possible!
                    </p>
                </div>

                <!-- Public Relations -->
                <div class="d-flex align-items-start mb-4 pb-md-3">
                    <img class="ms-3 flex-shrink-0"
                         src="{% static 'img/car-finder/icons/envelope.svg' %}"
                         width="32" alt="Envelope icon">
                    <div>
                        <h3 class="h6 mb-2 pb-1 text-light fw-normal ms-1">Public Relations</h3>
                        <p class="mb-0 text-light en-num">
                <span class="opacity-70">
                    For general inquiries, including partnership opportunities, please send us an email. Our address is:
                </span>
                            <a class="ms-1 text-nowrap" href="mailto:{{ st.email_address }}"></a>{{ st.email_address }}
                        </p>
                    </div>
                </div>

                <!-- Phone Contact -->
                <div class="d-flex align-items-start mb-4 pb-md-3">
                    <img class="ms-3 flex-shrink-0"
                         src="{% static 'img/car-finder/icons/chat.svg' %}"
                         width="32" alt="Our phone number">
                    <div>
                        <h3 class="h6 mb-2 pb-1 text-light fw-normal ms-1">Phone Contact</h3>
                        <p class="mb-0 text-light en-num">
                            <span class="opacity-70">Our phone number:</span>
                            <a class="ms-1 text-nowrap en-num" href="tel:+98{{ st.tel_no }}">+98{{ st.tel_no }}</a>
                            {% if st.tel_no2 %}
                                <a class="ms-1 text-nowrap en-num" href="tel:+98{{ st.tel_no }}">+98{{ st.tel_no }}</a>
                            {% endif %}
                        </p>
                    </div>
                </div>

                <!-- Address -->
                <div class="d-flex align-items-start mb-4 pb-md-3">
                    <img class="ms-3 flex-shrink-0"
                         src="{% static 'img/car-finder/icons/map-pin.svg' %}"
                         width="32" alt="Our address">
                    <div>
                        <h3 class="h6 mb-2 pb-1 text-light fw-normal ms-1">Our Address</h3>
                        <p class="mb-0 text-light en-num">
                            <span class="opacity-70">{{ st.en_address }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% else %}
    <section class="container my-5 pt-3 pb-lg-5">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <div class="mb-md-5 mb-4 pb-md-4">
                    <h1 class="mb-md-4 text-light titr">تماس با ما</h1>
                    <p class="mb-0 fs-lg text-light opacity-70"> خیالتان راحت باشد، فقط کارشناسان ما این اطلاعات را
                        می‌بینند و در سریعترین زمان ممکن با شما تماس خواهند گرفت!
                    </p>
                </div>
                <div class="d-flex align-items-start mb-4 pb-md-3"><img class="me-3 flex-shrink-0"
                                                                        src="{% static 'img/car-finder/icons/envelope.svg' %}"
                                                                        width="32" alt="Envelope icon">
                    <div>
                        <h3 class="h6 mb-2 pb-1 text-light fw-normal">ارتباط عمومی</h3>
                        <p class="mb-0 text-light"><span class="opacity-70">برای سوالات عمومی، از جمله فرصت های مشارکت، لطفا ایمیل ارسال بفرمایید. آدرس ایمیل ما :  </span><a
                                class="ms-1 text-nowrap" href="mailto:{{ st.email_address }}"></a>{{ st.email_address }}
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-start mb-4 pb-md-3"><img class="me-3 flex-shrink-0"
                                                                        src="{% static 'img/car-finder/icons/chat.svg' %}"
                                                                        width="32"
                                                                        alt="شماره تماس ما">
                    <div>
                        <h3 class="h6 mb-2 pb-1 text-light fw-normal">ارتباط تلفنی</h3>
                        <p class="mb-0 text-light"><span
                                class="opacity-70">شماره تماس ما : </span><a
                                class="ms-1 text-nowrap" href="tel:{{ st.tel_no }}"></a>{{ st.tel_no }}</p>
                    </div>
                </div>
                <div class="d-flex align-items-start mb-4 pb-md-3"><img class="me-3 flex-shrink-0"
                                                                        src="{% static 'img/car-finder/icons/map-pin.svg' %}"
                                                                        width="32" alt="آدرس ما">
                    <div>
                        <h3 class="h6 mb-2 pb-1 text-light fw-normal">آدرس ما</h3>
                        <p class="mb-0 text-light"><span
                                class="opacity-70">{{ st.address }}</span></p>
                    </div>
                </div>
                <div class="d-flex align-items-start mb-4 pb-md-3"><img class="me-3 flex-shrink-0"
                                                                        src="{% static 'img/car-finder/icons/flag.svg' %}"
                                                                        width="32" alt="ساعت کاری">
                    <div>
                        <h3 class="h6 mb-2 pb-1 text-light fw-normal">ساعت کاری</h3>
                        <p class="mb-0 text-light"><span
                                class="opacity-70">{{ st.work_time_text }}</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-lg-2">
                <!-- Contact form-->
                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="form-label text-light" for="c-name">نام و نام خانوادگی<span
                                class="text-danger">*</span></label>
                        {{ form.name }}
                        {% if form.name.errors %}
                            <div class="invalid-feedback d-block">
                                {% for err in form.name.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <label class="form-label text-light" for="c-phone">شماره تلفن<span class="text-danger">*</span></label>
                        {{ form.phone_number }}
                        {% if form.phone_number.errors %}
                            <div class="invalid-feedback d-block">
                                {% for err in form.phone_number.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <label class="form-label text-light" for="c-subject">عنوان<span
                                class="text-danger">*</span></label>
                        {{ form.title }}
                        {% if form.title.errors %}
                            <div class="invalid-feedback d-block">
                                {% for err in form.title.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <label class="form-label text-light" for="c-message">متن درخواست<span
                                class="text-danger">*</span></label>
                        {{ form.text }}
                        {% if form.text.errors %}
                            <div class="invalid-feedback d-block">
                                {% for err in form.text.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="pt-2">
                        <button class="btn btn-lg btn-primary w-sm-auto w-100" type="submit">ارسال فرم</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endif %}
