{% extends 'Shared/_MainLayout.html' %}
{% load static %}
{% block content %}
    <section class="container my-5 pt-5 pb-lg-5">
        <!-- Breadcrumb-->
        <nav class="mb-4 pt-md-3" aria-label="Breadcrumb">
            <ol class="breadcrumb breadcrumb-light">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">خانه</a></li>
                <li class="breadcrumb-item active" aria-current="page">تماس با ما</li>
            </ol>
        </nav>
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <div class="mb-md-5 mb-4 pb-md-4">
                    <h1 class="mb-md-4 text-light titr">تماس با ما</h1>
                    <p class="mb-0 fs-lg text-light opacity-70"> خیالتان راحت باشد، فقط کارشناسان ما این اطلاعات را
                        می‌بینند و در سریعترین زمان ممکن با شما تماس خواهند گرفت!
                    </p>
                </div>
                <div class="d-flex align-items-start mb-4 pb-md-3"><img class="me-3 flex-shrink-0"
                                                                        src="{% static 'img/car-finder/icons/envelope.svg' %}"
                                                                        width="32" alt="Envelope icon">
                    <div>
                        <h3 class="h6 mb-2 pb-1 text-light fw-normal">ارتباط عمومی</h3>
                        <p class="mb-0 text-light"><span class="opacity-70">برای سوالات عمومی، از جمله فرصت های مشارکت، لطفا ایمیل ارسال بفرمایید. آدرس ایمیل ما :  </span><a
                                class="ms-1 text-nowrap" href="mailto:{{ st.email_address }}"></a>{{ st.email_address }}
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-start mb-4 pb-md-3"><img class="me-3 flex-shrink-0"
                                                                        src="{% static 'img/car-finder/icons/chat.svg' %}"
                                                                        width="32"
                                                                        alt="شماره تماس ما">
                    <div>
                        <h3 class="h6 mb-2 pb-1 text-light fw-normal">ارتباط تلفنی</h3>
                        <p class="mb-0 text-light"><span
                                class="opacity-70">شماره تماس ما : </span><a
                                class="ms-1 text-nowrap" href="tel:{{ st.tel_no }}"></a>{{ st.tel_no }}</p>
                    </div>
                </div>
                <div class="d-flex align-items-start mb-4 pb-md-3"><img class="me-3 flex-shrink-0"
                                                                        src="{% static 'img/car-finder/icons/map-pin.svg' %}"
                                                                        width="32" alt="آدرس ما">
                    <div>
                        <h3 class="h6 mb-2 pb-1 text-light fw-normal">آدرس ما</h3>
                        <p class="mb-0 text-light"><span
                                class="opacity-70">{{ st.address }}</span></p>
                    </div>
                </div>
                <div class="d-flex align-items-start mb-4 pb-md-3"><img class="me-3 flex-shrink-0"
                                                                        src="{% static 'img/car-finder/icons/flag.svg' %}"
                                                                        width="32" alt="ساعت کاری">
                    <div>
                        <h3 class="h6 mb-2 pb-1 text-light fw-normal">ساعت کاری</h3>
                        <p class="mb-0 text-light"><span
                                class="opacity-70">{{ st.work_time_text }}</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-lg-2">
                <!-- Contact form-->
                <form method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="form-label text-light" for="c-name">نام و نام خانوادگی<span
                                class="text-danger">*</span></label>
                        {{ form.name }}
                        {% if form.name.errors %}
                            <div class="invalid-feedback d-block">
                                {% for err in form.name.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <label class="form-label text-light" for="c-phone">شماره تلفن<span class="text-danger">*</span></label>
                        {{ form.phone_number }}
                        {% if form.phone_number.errors %}
                            <div class="invalid-feedback d-block">
                                {% for err in form.phone_number.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <label class="form-label text-light" for="c-subject">عنوان<span
                                class="text-danger">*</span></label>
                        {{ form.title }}
                        {% if form.title.errors %}
                            <div class="invalid-feedback d-block">
                                {% for err in form.title.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <label class="form-label text-light" for="c-message">متن درخواست<span
                                class="text-danger">*</span></label>
                        {{ form.text }}
                        {% if form.text.errors %}
                            <div class="invalid-feedback d-block">
                                {% for err in form.text.errors %}
                                    {{ err }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="pt-2">
                        <button class="btn btn-lg btn-primary w-sm-auto w-100" type="submit">ارسال فرم</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script src="{% static 'vendor/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/simplebar/dist/simplebar.min.js' %}"></script>
    <script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
    <script src="{% static 'vendor/leaflet/dist/leaflet.js' %}"></script>
    <script src="{% static 'js/cruds/auth.js' %}"></script>
    <!-- Main theme script-->
    <script src="{% static 'js/theme.min.js' %}"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" media="screen" href="{% static 'vendor/simplebar/dist/simplebar.min.css' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'vendor/leaflet/dist/leaflet.css' %}"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="{% static 'css/theme.min.css' %}">
{% endblock %}
{% block page_meta %}
    <link rel="alternate" href="{{ st.siteUrl }}/contact-us/" hrefLang="fa-IR"/>
    <title> {{ st.brand_name }}تماس با </title>
    <meta name="description"
          content="شما عزیزان می توانید همه روزه با راه های ارتباطی مانند شماره تماس و ایمیل با ما در تماس باشید."/>
    <meta name="keywords"
          content="تماس با {{ st.brand_name }}, شماره تماس {{ st.brand_name }}, ایمیل {{ st.brand_name }}"/>
    <meta property="og:locale" content="fa_IR"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title"
          content="شما عزیزان می توانید همه روزه با راه های ارتباطی مانند شماره تماس و ایمیل با ما در تماس باشید."/>
    <meta property="og:description"
          content="شما عزیزان می توانید همه روزه با راه های ارتباطی مانند شماره تماس و ایمیل با ما در تماس باشید."/>
    <meta property="og:url" content="{{ st.siteUrl }}/contact-us/"/>
    <meta property="og:site_name" content="{{ st.brand_name }}"/>
    <meta name="twitter:description"
          content="شما عزیزان می توانید همه روزه با راه های ارتباطی مانند شماره تماس و ایمیل با ما در تماس باشید."/>
    <meta name="twitter:title"
          content="شما عزیزان می توانید همه روزه با راه های ارتباطی مانند شماره تماس و ایمیل با ما در تماس باشید."/>
{% endblock %}