{% extends 'Shared/_MainLayout.html' %}
{% load static %}

{% block content %}
    <section class="bg-top-center bg-repeat-0 pt-5"
             style="background-image: url({% static 'img/car-finder/home/hero-bg.png' %}); background-size: 1920px 630px;">
        <div class="container pt-5">
            <div class="col-lg-8 col-md-7 mb-5">
                <h1 class="h4 font-vazir text-light">تغییر رمز عبور</h1>
                <p class="text-light pt-1">کاربر عزیز، رمز عبور جدید و تکرار رمز عبور را وارد نمایید.</p>
                <form method="post" autocomplete="off" class="needs-validation pb-4" novalidate>
                    {% csrf_token %}
                    <div class="row mb-2">
                        <div class="col-sm-6 mb-3">
                            <label class="form-label text-light" for="{{ reset_pass_form.password.auto_id }}">رمز
                                عبور جدید <span
                                        class='fs-sm opacity-50'>حداقل 8 کاراکتر</span></label>
                            <div class="password-toggle">
                                {{ reset_pass_form.password }}
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox"><span
                                        class="password-toggle-indicator"></span>
                                </label>
                            </div>
                            {% if reset_pass_form.password.errors %}
                                <div class="invalid-feedback d-block">
                                    {% for err in reset_pass_form.password.errors %}
                                        {{ err }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label class="form-label text-light" for="{{ reset_pass_form.password2.auto_id }}">تایید
                                رمز
                                عبور جدید</label>
                            <div class="password-toggle">
                                {{ reset_pass_form.password2 }}
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox"><span
                                        class="password-toggle-indicator"></span>
                                </label>
                            </div>
                            {% if reset_pass_form.password2.errors %}
                                <div class="invalid-feedback d-block">
                                    {% for err in reset_pass_form.password2.errors %}
                                        {{ err }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <button class="btn btn-outline-primary" type="submit">تغییر رمز عبور</button>
                </form>
                <div class="border-top border-light pt-4 mt-3"></div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
    <script src="{% static 'vendor/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/simplebar/dist/simplebar.min.js' %}"></script>
    <script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
    <script src="{% static 'vendor/leaflet/dist/leaflet.js' %}"></script>
    <script src="{% static 'js/cruds/auth.js' %}"></script>
    <!-- Main theme script-->
    <script src="{% static 'js/theme.min.js' %}"></script>
{% endblock %}
{% block css %}
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="{% static 'vendor/simplebar/dist/simplebar.min.css' %}"/>
    <link rel="stylesheet" media="screen" href="{% static 'vendor/leaflet/dist/leaflet.css' %}"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="{% static 'css/theme.min.css' %}">
{% endblock %}