{% extends 'Shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}
{% block content %}
      <section class="d-flex align-items-center position-relative min-vh-100 py-5 mt-5">
        <div class="container d-flex justify-content-center position-relative zindex-5 text-center">
          <div class="col-lg-8 col-md-10 col-12 px-0">
            <h1 class="display-3 mb-lg-5 mb-4 text-light">متاسفم!</h1>
            <div class="ratio ratio-16x9 mx-auto mb-lg-5 mb-4 py-4" style="max-width: 556px;">
                <img src="{% static 'img/customs/404.png' %}" alt="">
            </div>
            <p class="h3 mb-lg-5 mb-4 pb-2 text-light">با عرض پوزش صفحه درخواستی وجود ندارد.</p><a class="btn btn-lg btn-primary w-sm-auto w-100 mb-3 me-sm-4" href="{% url 'home' %}">صفحه اصلی</a><a class="btn btn-lg btn-outline-light w-sm-auto w-100 mb-3" href="{{ st.contact_us_page.get_abs_url }}">تماس با ما</a>
          </div>
        </div>
      </section>
{% endblock %}
{% block js %}
    <script src="{% static 'vendor/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/simplebar/dist/simplebar.min.js' %}"></script>
    <script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
    <script src="{% static 'js/cruds/auth.js' %}"></script>
    <!-- Main theme script-->
    <script src="{% static 'js/theme.min.js' %}"></script>
{% endblock %}

{% block css %}
    <!-- Vendor Styles-->
    <link rel="stylesheet" media="screen" href="{% static 'vendor/simplebar/dist/simplebar.min.css' %}"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="{% static 'css/theme.min.css' %}">
{% endblock %}