<section class="container mb-5 pb-lg-5">
<h2 class="mb-4 pb-2 text-light text-center titr">چرا استیل امرداد؟</h2>
<!-- Features carousel-->

<div class="tns-carousel-wrapper tns-nav-outside tns-carousel-light">
<div class="tns-carousel-inner" data-carousel-options="{&quot;items&quot;: 3, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1, &quot;gutter&quot;: 16, &quot;controls&quot;: false},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;900&quot;:{&quot;items&quot;:3, &quot;autoplayTimeout&quot;: 3000,&quot;autoplay&quot;: true, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;gutter&quot;: 24}}}"><!-- Feature item-->
<div>
<div class="card card-light card-hover h-100">
<div class="card-body icon-box text-center">
<div class="icon-box-media bg-dark text-light mx-auto mb-3 d-inline-flex align-items-center justify-content-center" style="width: 4.5rem; height: 4.5rem;"><i class="fi-power"></i></div>

<h5 class="card-title fw-normal">واردات مستقیم</h5>

<p class="card-text fs-sm opacity-70">ما واردکننده مستقیم از بهترین تامین کنندگان بازار جهانی هستیم.</p>
</div>
</div>
</div>

<div>
<div class="card card-light card-hover h-100">
<div class="card-body icon-box text-center">
<div class="icon-box-media bg-dark text-light mx-auto mb-3 d-inline-flex align-items-center justify-content-center" style="width: 4.5rem; height: 4.5rem;"><i class="fi-cash"></i></div>

<h5 class="card-title fw-normal">قیمت قابل رقابت در بازار</h5>

<p class="card-text fs-sm opacity-70">از آنجایی که وارد کننده مستقیم هستیم، قیمتهای ما در بازار ایران رقابتی است.</p>
</div>
</div>
</div>

<div>
<div class="card card-light card-hover h-100">
<div class="card-body icon-box text-center">
<div class="icon-box-media bg-dark text-light mx-auto mb-3 d-inline-flex align-items-center justify-content-center" style="width: 4.5rem; height: 4.5rem;"><i class="fi-eye-on"></i></div>

<h5 class="card-title fw-normal">امکان بازدید حضوری</h5>

<p class="card-text fs-sm opacity-70">امکان بازدید حضوری مشتریان عزیز قبل از خرید فراهم می باشد.</p>
</div>
</div>
</div>

<div>
<div class="card card-light card-hover h-100">
<div class="card-body icon-box text-center">
<div class="icon-box-media bg-dark text-light mx-auto mb-3 d-inline-flex align-items-center justify-content-center" style="width: 4.5rem; height: 4.5rem;"><i class="fi-check"></i></div>

<h5 class="card-title fw-normal">کنترل کیفیت دقیق</h5>

<p class="card-text fs-sm opacity-70">ما متعهد به کنترل دقیق کیفیت محصولات در زمان تولید و حمل هستیم.</p>
</div>
</div>
</div>

<div>
<div class="card card-light card-hover h-100">
<div class="card-body icon-box text-center">
<div class="icon-box-media bg-dark text-light mx-auto mb-3 d-inline-flex align-items-center justify-content-center" style="width: 4.5rem; height: 4.5rem;"><i class="fi-users"></i></div>

<h5 class="card-title fw-normal">داشتن تیم حرفه ای</h5>

<p class="card-text fs-sm opacity-70">ما با داشتن کادر مجرب در حوزه فلزات همیشه در خدمت شما هستیم.</p>
</div>
</div>
</div>
</div>
</div>
</section>