<!-- Page header-->
<section class="container mb-5 pb-lg-5">
    <div class="row align-items-center justify-content-lg-start justify-content-center flex-lg-nowrap gy-4">
        <div class="col-lg-9"><img alt="Hero image" class="rounded-3" src="/public/media/uploads/2024/10/20/01.jpg"
                                   style="width: 600px; height: 353px;"/></div>

        <div class="col-lg-4 me-lg-n5 col-sm-9 text-lg-end text-center">
            <div class="me-lg-n5 ps-xl-5">
                <h1 class="mb-lg-4 text-light">درباره ما</h1>

                <p class="mb-4 pb-lg-3 fs-lg text-light opacity-70">ما معتقدیم که خرید و فروش خودرو باید ساده و لذت بخش
                    باشد، نه زمان بر، پیچیده یا استرس زا.</p>
                <a class="btn btn-lg btn-primary w-sm-auto w-100" href="/search/">ثبت سفارش</a></div>
        </div>
    </div>
</section>
<!-- Features-->

<section class="container mb-5 pb-lg-5">
    <h2 class="mb-4 pb-2 text-light text-center titr">چرا ما را انتخاب کرده اید؟</h2>
    <!-- Features carousel-->

    <div class="tns-carousel-wrapper tns-nav-outside tns-carousel-light">
        <div class="tns-carousel-inner"
             data-carousel-options="{&quot;items&quot;: 3, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1, &quot;gutter&quot;: 16, &quot;controls&quot;: false},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;900&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;gutter&quot;: 24}}}">
            <!-- Feature item-->
            <div>
                <div class="card card-light card-hover h-100">
                    <div class="card-body icon-box text-center">
                        <div class="icon-box-media bg-dark text-light mx-auto mb-3 d-inline-flex align-items-center justify-content-center"
                             style="width: 4.5rem; height: 4.5rem;"><img alt="Car icon"
                                                                         src="/public/media/uploads/2024/10/08/flag_84hQlbf.svg"/>
                        </div>

                        <h5 class="card-title fw-normal">کارشناسی تخصصی خودرو در محل</h5>

                        <p class="card-text fs-sm opacity-70">چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی می باشد.</p>
                    </div>
                </div>
            </div>
            <!-- Feature item-->

            <div>
                <div class="card card-light card-hover h-100">
                    <div class="card-body icon-box text-center">
                        <div class="icon-box-media bg-dark text-light mx-auto mb-3 d-inline-flex align-items-center justify-content-center"
                             style="width: 4.5rem; height: 4.5rem;"><img alt="Building icon"
                                                                         src="/public/media/uploads/2024/10/08/flag.svg"
                                                                         style="width: 40px; height: 40px;"/></div>

                        <h5 class="card-title fw-normal">محاسبه دقیق قیمت خودرو</h5>

                        <p class="card-text fs-sm opacity-70">چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی می باشد.</p>
                    </div>
                </div>
            </div>
            <!-- Feature item-->

            <div>
                <div class="card card-light card-hover h-100">
                    <div class="card-body icon-box text-center">
                        <div class="icon-box-media bg-dark text-light mx-auto mb-3 d-inline-flex align-items-center justify-content-center"
                             style="width: 4.5rem; height: 4.5rem;"><img alt="Flag icon"
                                                                         src="/public/media/uploads/2024/10/08/flag_nsmEoZv.svg"/>
                        </div>

                        <h5 class="card-title fw-normal">خرید خودروهای کارشناسی&zwnj;شده</h5>

                        <p class="card-text fs-sm opacity-70">چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                            لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                            کاربردی می باشد.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Story steps-->

<section class="container mb-5 pb-lg-5 pb-3 pb-sm-4">
    <h2 class="mb-4 pb-2 text-light text-center titr">سابقه فعالیت شرکت</h2>

    <div class="mx-auto" style="max-width: 864px;">
        <div class="steps steps-light steps-vertical">
            <div class="step">
                <div class="step-progress"><span class="step-number bg-primary shadow-hover">1</span></div>

                <div class="step-label">
                    <h3 class="h5 mb-2 pb-1 text-light fw-normal">سال 1397</h3>

                    <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                        تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                </div>
            </div>

            <div class="step">
                <div class="step-progress"><span class="step-number bg-primary shadow-hover">2</span></div>

                <div class="step-label">
                    <h3 class="h5 mb-2 pb-1 text-light fw-normal">سال 1398</h3>

                    <p class="mb-0">چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                        تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                </div>
            </div>

            <div class="step">
                <div class="step-progress"><span class="step-number bg-primary shadow-hover">3</span></div>

                <div class="step-label">
                    <h3 class="h5 mb-2 pb-1 text-light fw-normal">سال 1399</h3>

                    <p class="mb-0">تابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می
                        طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ
                        پیشرو در زبان فارسی ایجاد کرد.</p>
                </div>
            </div>

            <div class="step">
                <div class="step-progress"><span class="step-number bg-primary shadow-hover">4</span></div>

                <div class="step-label">
                    <h3 class="h5 mb-2 pb-1 text-light fw-normal">سال 1400</h3>

                    <p class="mb-0">چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                        تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Personalized search-->

<section class="container mb-5 pb-lg-5 pb-2 pb-sm-3">
    <div class="row gy-4 align-items-lg-center">
        <div class="col-md-6"><img alt="Personalized search" class="rounded-3"
                                   src="/public/media/uploads/2024/10/08/01-1_fPpH0Gc.jpg"/></div>

        <div class="col-lg-5 offset-lg-1 col-md-6 text-md-start text-center">
            <h2 class="mb-md-4 text-light titr">جستجوی ماشین</h2>

            <p class="mb-4 pb-md-3 text-light opacity-70">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
            <a class="btn btn-primary w-sm-auto w-100" href="/public/media/uploads/2024/10/08/01-1.jpg">جستجو خودرو</a>
        </div>
    </div>
</section>
<!-- Attractive selling conditions-->

<section class="container mb-5 pb-lg-5 pb-2 pb-sm-3">
    <div class="row gy-4 align-items-lg-center">
        <div class="col-lg-5 col-md-6 order-md-1 order-2 text-md-start text-center">
            <h2 class="mb-md-4 text-light titr">شرایط فروش خودرو</h2>

            <p class="mb-4 pb-md-3 text-light opacity-70">کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان
                جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
                خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در
                ارائه راهکارها و شرایط سخت تایپ به پایان رسد.</p>
            <a class="btn btn-primary w-sm-auto w-100" href="car-finder-sell-car.html">فروش سفارشی</a></div>

        <div class="col-md-6 offset-lg-1 order-md-2 order-1"><img alt="Attractive selling conditions" class="rounded-3"
                                                                  src="/public/media/uploads/2024/10/08/02.jpg"/></div>
    </div>
</section>
<!-- Our partners (carousel)--><!-- FAQ-->

<section class="container mb-5 pb-2 pb-lg-5">
    <div class="row">
        <div class="col-lg-5 col-md-6">
            <div class="d-flex flex-column text-md-start text-center">
                <div class="order-md-1 order-2 mx-md-0 mx-auto mb-md-5 mb-4" style="max-width: 416px;">
                    <h2 class="mb-md-3 mb-2 text-light">سوالات متداول</h2>

                    <p class="mb-4 pb-md-2 text-light opacity-70">آیا در مورد خرید یا فروش خودرو سوالی دارید؟ برای همه
                        جزئیات، مرکز راهنمایی را بررسی کنید.</p>
                    <a class="btn btn-primary w-sm-auto w-100" href="car-finder-help-center.html">پشتیبانی</a></div>

                <div class="order-md-2 order-1"><img alt="FAQs" src="/public/media/uploads/2024/10/08/03.png"/></div>
            </div>
        </div>
        <!-- Accordion-->

        <div class="col-md-6 offset-lg-1">
            <div class="accordion accordion-light" id="accordionFAQ"><!-- Acordion item-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-1">
                        <button aria-controls="collapse-1" aria-expanded="true" class="accordion-button"
                                data-bs-target="#collapse-1" data-bs-toggle="collapse" type="button">هزینه فروش خودرو در
                            فایندر چقدر است؟
                        </button>
                    </h2>

                    <div aria-labelledby="heading-1" class="accordion-collapse collapse show"
                         data-bs-parent="#accordionFAQ" id="collapse-1">
                        <div class="accordion-body text-light opacity-70">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                            از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                            سطرآنچنان که لازم است.
                        </div>
                    </div>
                </div>
                <!-- Accordion item-->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-2">
                        <button aria-controls="collapse-2" aria-expanded="false" class="accordion-button collapsed"
                                data-bs-target="#collapse-2" data-bs-toggle="collapse" type="button">چگونه بهترین عکس ها
                            را از ماشینم بگیرم؟
                        </button>
                    </h2>

                    <div aria-labelledby="heading-2" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ"
                         id="collapse-2">
                        <div class="accordion-body text-light opacity-70">کتابهای زیادی در شصت و سه درصد گذشته، حال و
                            آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان
                            رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان
                            امید داشت
                        </div>
                    </div>
                </div>
                <!-- Accordion item-->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-3">
                        <button aria-controls="collapse-3" aria-expanded="false" class="accordion-button collapsed"
                                data-bs-target="#collapse-3" data-bs-toggle="collapse" type="button">اگر خارج از ایالات
                            متحده زندگی می کنم می توانم وسیله نقلیه بفروشم؟
                        </button>
                    </h2>

                    <div aria-labelledby="heading-3" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ"
                         id="collapse-3">
                        <div class="accordion-body text-light opacity-70">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                            از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                            سطرآنچنان که لازم است.
                        </div>
                    </div>
                </div>
                <!-- Accordion item-->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-4">
                        <button aria-controls="collapse-4" aria-expanded="false" class="accordion-button collapsed"
                                data-bs-target="#collapse-4" data-bs-toggle="collapse" type="button">خریدار چگونه با من
                            در تماس است و پرداخت را انجام می دهد؟
                        </button>
                    </h2>

                    <div aria-labelledby="heading-4" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ"
                         id="collapse-4">
                        <div class="accordion-body text-light opacity-70">کتابهای زیادی در شصت و سه درصد گذشته، حال و
                            آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان
                            رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان
                            امید داشت.
                        </div>
                    </div>
                </div>
                <!-- Accordion item-->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-5">
                        <button aria-controls="collapse-5" aria-expanded="false" class="accordion-button collapsed"
                                data-bs-target="#collapse-5" data-bs-toggle="collapse" type="button">چه کسی شرح لیست
                            ماشین من را می نویسد؟
                        </button>
                    </h2>

                    <div aria-labelledby="heading-5" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ"
                         id="collapse-5">
                        <div class="accordion-body text-light opacity-70">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                            از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                            سطرآنچنان که لازم است.
                        </div>
                    </div>
                </div>
                <!-- Accordion item-->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-6">
                        <button aria-controls="collapse-6" aria-expanded="false" class="accordion-button collapsed"
                                data-bs-target="#collapse-6" data-bs-toggle="collapse" type="button">آیا قوانینی برای
                            رعایت در نظرات وجود دارد؟
                        </button>
                    </h2>

                    <div aria-labelledby="heading-6" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ"
                         id="collapse-6">
                        <div class="accordion-body text-light opacity-70">کتابهای زیادی در شصت و سه درصد گذشته، حال و
                            آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان
                            رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان
                            امید داشت.
                        </div>
                    </div>
                </div>
                <!-- Accordion item-->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-7">
                        <button aria-controls="collapse-7" aria-expanded="false" class="accordion-button collapsed"
                                data-bs-target="#collapse-7" data-bs-toggle="collapse" type="button">فایندر از چه ارزی
                            استفاده می کند؟
                        </button>
                    </h2>

                    <div aria-labelledby="heading-7" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ"
                         id="collapse-7">
                        <div class="accordion-body text-light opacity-70">کتابهای زیادی در شصت و سه درصد گذشته، حال و
                            آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان
                            رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان
                            امید داشت.
                        </div>
                    </div>
                </div>
                <!-- Accordion item-->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-8">
                        <button aria-controls="collapse-8" aria-expanded="false" class="accordion-button collapsed"
                                data-bs-target="#collapse-8" data-bs-toggle="collapse" type="button">چگونه به صورت خصوصی
                            با فروشنده تماس بگیرم؟
                        </button>
                    </h2>

                    <div aria-labelledby="heading-8" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ"
                         id="collapse-8">
                        <div class="accordion-body text-light opacity-70">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                            از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                            سطرآنچنان که لازم است.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest news (Blog)-->