<section class="container mb-5 pb-lg-5">
    <h2 class="mb-4 pb-2 text-light text-center titr">چرا استیل امرداد؟</h2>
    <!-- Features carousel-->

    <div class="tns-carousel-wrapper tns-nav-outside tns-carousel-light">
        <div class="tns-carousel-inner"
             data-carousel-options="{&quot;items&quot;: 3, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1, &quot;gutter&quot;: 16, &quot;controls&quot;: false},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;900&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;gutter&quot;: 24}}}">
            <!-- Feature item-->
            <div>
                <div class="card card-light card-hover h-100">
                    <div class="card-body icon-box text-center">
                        <div class="icon-box-media bg-dark text-light mx-auto mb-3 d-inline-flex align-items-center justify-content-center"
                             style="width: 4.5rem; height: 4.5rem;"><i class="fi-arrow-down"></i>
                        </div>
                        <h5 class="card-title fw-normal">واردات مستقیم</h5>

                        <p class="card-text fs-sm opacity-70">ما واردکننده مستقیم از بهترین تامین کنندگان بازار جهانی
                            هستیم.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="card card-light card-hover h-100">
                    <div class="card-body icon-box text-center">
                        <div class="icon-box-media bg-dark text-light mx-auto mb-3 d-inline-flex align-items-center justify-content-center"
                             style="width: 4.5rem; height: 4.5rem;"><i class="fi-flag"></i>
                        </div>

                        <h5 class="card-title fw-normal">قیمت قابل رقابت در بازار</h5>

                        <p class="card-text fs-sm opacity-70">از آنجایی که وارد کننده مستقیم هستیم، قیمتهای ما در بازار
                            ایران رقابتی است.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="card card-light card-hover h-100">
                    <div class="card-body icon-box text-center">
                        <div class="icon-box-media bg-dark text-light mx-auto mb-3 d-inline-flex align-items-center justify-content-center"
                             style="width: 4.5rem; height: 4.5rem;"><i class="fi-user"></i>
                        </div>

                        <h5 class="card-title fw-normal">امکان بازدید حضوری</h5>

                        <p class="card-text fs-sm opacity-70">امکان بازدید حضوری مشتریان عزیز قبل از خرید فراهم می
                            باشد.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="card card-light card-hover h-100">
                    <div class="card-body icon-box text-center">
                        <div class="icon-box-media bg-dark text-light mx-auto mb-3 d-inline-flex align-items-center justify-content-center"
                             style="width: 4.5rem; height: 4.5rem;"><i class="fi-search"></i></div>

                        <h5 class="card-title fw-normal">کنترل کیفیت دقیق</h5>

                        <p class="card-text fs-sm opacity-70">ما متعهد به کنترل دقیق کیفیت محصولات در زمان تولید و حمل
                            هستیم.</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="card card-light card-hover h-100">
                    <div class="card-body icon-box text-center">
                        <div class="icon-box-media bg-dark text-light mx-auto mb-3 d-inline-flex align-items-center justify-content-center"
                             style="width: 4.5rem; height: 4.5rem;"><i class="fi-help"></i>
                        </div>

                        <h5 class="card-title fw-normal">داشتن تیم حرفه ای</h5>

                        <p class="card-text fs-sm opacity-70">ما با داشتن کادر مجرب در حوزه فلزات همیشه در خدمت شما
                            هستیم.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container mb-5 pb-lg-5 pb-3 pb-sm-4 text-light">
    <h2 class="mb-4 pb-2 text-light text-center titr">سابقه فعالیت شرکت</h2>

    <p class="card-text fs-sm opacity-70">شرکت توسعه سرمایه و تجارت امرداد با بیش از دو دهه تجربه در زمینه واردات و عرضه
        انواع ورق&zwnj;های فولادی، به ویژه استیل ضدزنگ، فعالیت می&zwnj;کند. این شرکت با دفاتری در تهران، چابهار و
        امارات، به عنوان یکی از پیشروان این حوزه شناخته می&zwnj;شود. هدف اصلی شرکت، تامین پایدار و باکیفیت مواد اولیه
        مورد نیاز صنایع داخلی از جمله پتروشیمی، خودروسازی و ساختمان است. امرداد با تمرکز بر کیفیت و قیمت مناسب، سعی دارد
        تا اولین انتخاب مشتریان باشد. علاوه بر تامین ورق&zwnj;های فولادی، این شرکت خدمات دیگری مانند مشاوره خرید، حمل و
        نقل و ترخیص کالا را نیز ارائه می&zwnj;دهد. با ایجاد ارتباط نزدیک با صنایع مصرف&zwnj;کننده، امرداد تلاش می&zwnj;کند
        تا نیازهای بازار را به بهترین شکل ممکن برآورده سازد.</p>
</section>
