{% load static %}
<div class="tns-carousel-wrapper">
    <div class="tns-carousel-inner" data-carousel-options='{"gutter": 16,"autoplayTimeout":"4000","autoplay":true}'>
        {% for slide in slides %}
            {% if slide.is_origin_image %}
                <a href="{{ slide.link }}">
                    <img class="rounded rounded-3 w-95" src="{{ slide.original_image.url }}"
                         alt="{{ slide.image_alt }}">
                </a>
            {% else %}
                <a href="{{ slide.link }}">
                    <img class="rounded rounded-3 w-95" src="{{ slide.image_webp.url }}" alt="{{ slide.image_alt }}">
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>