<section class="container mb-5 pb-lg-5">
    <div class="row align-items-center justify-content-lg-start justify-content-center flex-lg-nowrap gy-4">
        <div class="col-lg-8 col-sm-12"><img class="rounded-3 w-md-80 w-lg-80 w-sm-100"
                                             src="/public/media/uploads/photo_5926949637942526651_x.jpg" alt="Amordad">
        </div>
        <div class="col-lg-4 ms-lg-n5 col-sm-9 text-lg-start text-center">
            <div class="ms-lg-n5 pe-xl-5">
                <h1 class="mb-lg-4 text-light" style="text-align: left;">About Us</h1>
                <p class="mb-4 pb-lg-3 fs-lg text-light opacity-70" dir="ltr" style="text-align: left;">We have removed
                    intermediaries and accessed the global market to make purchasing easier and more convenient for
                    you!</p>
            </div>
        </div>
    </div>
</section>
<section class="container mb-5 pb-lg-5 pb-3 pb-sm-4 text-light" dir="ltr">
    <h2 class="mb-4 pb-2 text-light text-center titr">Company History</h2>
    <p class="en-num" style="text-align: justify;">Amordad Investment and Trade Group, active since 2000 with over two
        decades of commercial and trading experience and offices in Tehran, Chabahar Free Zone, and the United Arab
        Emirates, is a specialized and pioneering company in importing and supplying stainless steel sheets, various
        carbon steel sheets, aluminum sheets and their products, supply of goods, sea freight, and more. The company
        aims to sustainably supply high-quality and reasonably priced raw materials and goods required by domestic
        industries. In recent years, the company has focused on supplying stainless steel sheets and their products
        according to international standards and competitive prices to end consumers, especially in petrochemical,
        refinery, home appliances, construction, automotive, pharmaceutical, and food industries. Stainless steel sheets
        are the company's main trade, and this strategic focus is key to its development. The company's strategy is:
        &ldquo;Quality and reasonable price speak louder than advertising.&rdquo;&nbsp;<br><br>The company aims to
        expand its activities in the specialized field of stainless steel sheets by establishing close relationships
        with consuming industries and market players, striving to become your first choice among suppliers by providing
        high-quality products at competitive prices.&nbsp;<br><br>Other business capabilities include supplying,
        shipping, ordering, and customs clearance of various goods needed by customers from top Asian and European
        suppliers based on customer orders.&nbsp;<br><br></p>
    <p class="en-num" style="text-align: justify;">&nbsp;</p>
</section>
<section class="container mb-5 pb-lg-5">
    <div class="row">
        <div class="col-lg-8 col-sm-9">
            <div class="ms-lg-n5 pe-xl-5">
                <h3 class="mb-lg-4 text-light" style="text-align: left;">Services offered by Amordad Investment and
                    Trade Group: </h3>
                <p class="mb-4 pb-lg-3 fs-lg text-light opacity-70 en-num" dir="ltr" style="text-align: left;">
                    1- Supply of stainless steel industrial sheets (grades 321, 316, 304, 430...), carbon steel sheets
                    (ST37, ST52, X60), aluminum sheets and their products, stocked in Tehran warehouse and delivered
                    nationwide. 
                    2- Consulting and providing services for purchasing, shipping, ordering, transit, and customs
                    clearance of various steel, stainless steel sheets and their products. 
                    3- Supply of various goods based on customer orders from top Asian and European suppliers, door to
                    door. 
                    4- Competitive pricing of goods in FOB, CIF, and CFR terms.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12"><img class="rounded-3 w-md-80 w-lg-80 w-sm-100"
                                             src="/public/media/uploads/photo_5926949637942526652_x.jpg" alt="Amordad"
                                             width="893" height="595"></div>
    </div>
</section>